.ui__turn {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    .turn__cont {
        height: 80%;
        width: 80%;
        background-color: $white1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        .cont1{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .cont1__nav{
                width: 100%;
                height: 15%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $pink1;
                font-weight: bold;
                font-size: 25px;
                text-transform: uppercase;
                letter-spacing: 1.5px;
            }
            .cont1__cont{
                width: 100%;
                height: 85%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: flex-start;
                .cont__info{
                    width: 40%;
                    height: 92%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .contenedor{
                        width: 85%;
                        height: 95%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        background-color: initial;
                        padding: 10px 30px;
                        border-radius: 40px;
                        box-shadow: -2px -2px 8px rgba(255, 255, 255, 1), -2px -2px 12px rgba(255, 255, 255, 0.6), inset 2px 2px 4px rgba(255, 255, 255, 0.2), 2px 2px 8px rgba(0, 0, 0, 0.15);
                        p{
                            width: 80%;
                            color: $blue4;
                            font-size: 15px;
                            text-align: center;
                            margin-top: 1%;
                            margin-bottom: 1%;
                            span{
                                color: $blue4;
                                font-weight: 600;
                                font-size: 17px;
                            }
                        }
                        img{
                            width: 60%;
                            height: auto;
                            margin-top: 5%;
                            margin-bottom: 5%;
                        }
                    }
                }
                .cont__actions{
                    width: 60%;
                    height: 92%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}