:root {
    --nav-size: 17px;
    --machine-size: 15.5px;
    --nets-size: 18.5px;
    --nets-size-hover: 23px;
    /*-----------------*/
    --nav-height: 68px;
    /*-----------------*/
    --logo-width: 200px;
    --machine-width: 25%;
    --machine-left: 10%;
    /*-----------------*/
    --machine-bottom: 50px;
    --machine-top: 4%;
    /*-----------------*/
    --nav-margin: 40px;
    --content-top: 10px;
    /*-----------------*/
    --nets-top: 40%;
    --logo-top: 5%;
}

.login {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    .log__cont {
        height: auto;
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        width: 30%;
        background-color: $white1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        span {
            text-transform: uppercase;
            color: $blue4;
            letter-spacing: 3px;
            font-size: 35px;
            font-weight: 500;
            margin-bottom: 15px;
        }
        .ch__bord {
            width: 60%;
            border-bottom: 2px solid white;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        a {
            color: $blue4;
            font-size: 15px;
            margin-top: 8px;
            transition: 0.1s;
        }
        a:hover {
            font-weight: 500;
        }
        .pass {
            font-size: 13px;
            margin-bottom: 5px;
        }
        form {
            display: flex;
            flex-direction: column;
            width: 80%;
            margin-top: 5%;
            label {
                color: $blue4;
                margin-bottom: 3%;
                font-size: var(--form_label_size);
            }
            input {
                width: 100%;
                padding: 8px 0px 5px 20px;
                margin-bottom: 10%;
                color: rgba($blue4, $alpha: 0.8);
                border: none;
                border-radius: 10px;
                font-size: var(--form_input_size);
                font-weight: 400;
                background-color: #dde1e7;
                box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1), inset -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), inset 2px 2px 8px rgba(0, 0, 0, 0.15);
            }
            input:focus {
                background-color: rgba($blue1, $alpha: 0.6);
            }
            input::-webkit-input-placeholder {
                color: rgba($blue4, $alpha: 0.8)
            }
            textarea {
                max-width: 100%;
                max-height: 100px;
                min-width: 100%;
            }
            input[type="submit"] {
                width: 60%;
                font-weight: 500;
                font-size: var(--form_submit_size);
                align-self: center;
                border-radius: 20px;
                color: $blue4;
                letter-spacing: 2px;
                margin-top: 1%;
                margin-bottom: 4%;
                padding: 10px;
                box-shadow: -2px -2px 8px rgba(255, 255, 255, 1), -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
                transition: background-color .3s ease-in;
            }
            input[type="submit"]:hover {
                color: rgba($pink1, $alpha: 0.6);
            }
        }
    }
}

.checkin {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    .checkin__cont {
        height: auto;
        width: 30%;
        padding-top: 2%;
        padding-bottom: 1%;
        background-color: $white1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        #lol{
            color: rgb(212, 90, 90);
            font-size: 18px;
        }
        span {
            text-transform: uppercase;
            color: $blue4;
            letter-spacing: 4px;
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 2%;
            padding: 0;
        }
        a {
            color: $blue4;
            font-size: 15px;
            margin-top: 8px;
            transition: 0.1s;
        }
        a:hover {
            font-weight: 500;
        }
        .ch__bord {
            width: 60%;
            border-bottom: 2px solid white;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .ch__coonf{
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 8%;
            i{
                font-size: 80px;
                color: rgb(93, 186, 93);
            }
            span{
                color:$blue4;
                font-size: 25px;
                text-transform: inherit;
                letter-spacing: inherit;
            }
        }

        .checkforms {
            display: flex;
            flex-direction: column;
            width: 80%;
            label {
                padding-left: 5%;
                color: $blue4;
                margin-bottom: 8px;
                margin-top: 15px;
                font-size: 14px;
            }
            input[type="text"],
            input[type="number"],
            input[type="password"] {
                align-self: center;
                width: 95%;
                padding: 8px 0px 5px 20px;
                color: rgba($blue4, $alpha: 0.8);
                border: none;
                border-radius: 10px;
                font-size: 14px;
                font-weight: 400;
                background-color: #dde1e7;
                box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1), inset -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), inset 2px 2px 8px rgba(0, 0, 0, 0.15);
            }
            input:focus {
                background-color: rgba($blue1, $alpha: 0.6);
            }
            input::-webkit-input-placeholder {
                color: rgba($blue4, $alpha: 0.8);
                font-size: 14px;
            }
            textarea {
                max-width: 100%;
                max-height: 100px;
                min-width: 100%;
            }
            input[type="submit"] {
                width: 60%;
                font-weight: 500;
                font-size: 15px;
                align-self: center;
                border-radius: 20px;
                border: none;
                color: $blue4;
                letter-spacing: 2px;
                margin-top: 6%;
                margin-bottom: 4%;
                padding: 10px;
                box-shadow: -2px -2px 8px rgba(255, 255, 255, 1), -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
                transition: background-color .3s ease-in;
            }
            input[type="submit"]:hover {
                color: rgba($pink1, $alpha: 0.6);
            }
        }
    }
}

#shome {
    background-color: $blue1;
    width: 100%;
    height: 100vh;
    box-shadow: 0px 45px 10px rgba($color: #000000, $alpha: 1);
}


/* ----------------------------------*/

.navbar {
    width: 100%;
    height: var(--nav-height);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navbar__logo {
        margin-left: 7%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .logoshop {
            width: 30px;
            height: 80%;
        }
        h1 {
            margin-left: 6px;
            color: $blue2;
            font-size: 28px;
        }
    }
    .navbar__list {
        display: flex;
        margin-right: 5%;
        ul {
            display: flex;
        }
        li a {
            margin: 0px var(--nav-margin);
            color: $blue2;
            font-size: var(--nav-size);
            font-weight: 400;
            span {
                color: rgba($pink1, $alpha: 0.85);
                border: 1px solid;
                border-radius: 20px;
                padding: 3px 14px;
                transition: 0.4s;
            }
            span:hover {
                font-weight: initial;
                background-color: rgba($pink1, $alpha: 0.6);
                color: white;
                border: 1px solid rgba($pink1, $alpha: 0.1);
            }
        }
        li a:hover {
            font-weight: 600;
        }
    }
}


/* ----------------------------------*/

.cont {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: var(--content-top);
    .cont__illus {
        margin-top: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50.5%;
        height: 100%;
        .illus {
            width: 65%;
            height: auto;
        }
    }
    .cont__text {
        width: 43%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        margin-top: 2%;
        .text__text {
            margin-bottom: 6%;
            span {
                font-weight: bold;
                color: $blue3;
                font-size: 60px;
                text-transform: uppercase;
            }
            .text__exp {
                margin-left: 20px;
                margin-top: 30px;
                margin-bottom: 15px;
                color: white;
                font-size: 17px;
                ul li {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 10px;
                    p {
                        margin-left: 10px;
                    }
                }
            }
        }
        .text__button {
            width: 100%;
            padding-left: 5%;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                margin-left: 18px;
            }
        }
    }
    .cont__nets {
        width: 6.5%;
        align-self: center;
    }
}