* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: white;
  overflow-x: hidden;
  font-family: 'Baloo Chettan 2', sans-serif; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

:focus {
  outline: none; }

:root {
  --nav-size: 17px;
  --machine-size: 15.5px;
  --nets-size: 18.5px;
  --nets-size-hover: 23px;
  /*-----------------*/
  --nav-height: 68px;
  /*-----------------*/
  --logo-width: 200px;
  --machine-width: 25%;
  --machine-left: 10%;
  /*-----------------*/
  --machine-bottom: 50px;
  --machine-top: 4%;
  /*-----------------*/
  --nav-margin: 40px;
  --content-top: 10px;
  /*-----------------*/
  --nets-top: 40%;
  --logo-top: 5%; }

.login {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 0;
  left: 0; }
  .login .log__cont {
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 30%;
    background-color: #dde1e7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px; }
    .login .log__cont span {
      text-transform: uppercase;
      color: #5a84a2;
      letter-spacing: 3px;
      font-size: 35px;
      font-weight: 500;
      margin-bottom: 15px; }
    .login .log__cont .ch__bord {
      width: 60%;
      border-bottom: 2px solid white;
      margin-top: 10px;
      margin-bottom: 10px; }
    .login .log__cont a {
      color: #5a84a2;
      font-size: 15px;
      margin-top: 8px;
      transition: 0.1s; }
    .login .log__cont a:hover {
      font-weight: 500; }
    .login .log__cont .pass {
      font-size: 13px;
      margin-bottom: 5px; }
    .login .log__cont form {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin-top: 5%; }
      .login .log__cont form label {
        color: #5a84a2;
        margin-bottom: 4%;
        font-size: var(--form_label_size); }
      .login .log__cont form input {
        width: 100%;
        padding: 8px 0px 5px 20px;
        margin-bottom: 12%;
        color: rgba(90, 132, 162, 0.8);
        border: none;
        border-radius: 10px;
        font-size: var(--form_input_size);
        font-weight: 400;
        background-color: #dde1e7;
        box-shadow: inset -2px -2px 8px white, inset -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), inset 2px 2px 8px rgba(0, 0, 0, 0.15); }
      .login .log__cont form input:focus {
        background-color: rgba(174, 215, 245, 0.6); }
      .login .log__cont form input::-webkit-input-placeholder {
        color: rgba(90, 132, 162, 0.8); }
      .login .log__cont form textarea {
        max-width: 100%;
        max-height: 100px;
        min-width: 100%; }
      .login .log__cont form input[type="submit"] {
        width: 60%;
        font-weight: 500;
        font-size: var(--form_submit_size);
        align-self: center;
        border-radius: 20px;
        color: #5a84a2;
        letter-spacing: 2px;
        margin-top: 2%;
        margin-bottom: 4%;
        padding: 10px;
        box-shadow: -2px -2px 8px white, -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
        transition: background-color .3s ease-in; }
      .login .log__cont form input[type="submit"]:hover {
        color: rgba(255, 113, 146, 0.6); }

.checkin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0; }
  .checkin .checkin__cont {
    height: auto;
    width: 30%;
    padding-top: 2%;
    padding-bottom: 1%;
    background-color: #faadc0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px; }
    .checkin .checkin__cont span {
      text-transform: uppercase;
      color: white;
      letter-spacing: 4px;
      font-size: 35px;
      font-weight: 600;
      margin-bottom: 5%;
      padding: 0; }
    .checkin .checkin__cont .ch__bord {
      width: 60%;
      border-bottom: 1px solid white;
      margin-top: 10px;
      margin-bottom: 10px; }
    .checkin .checkin__cont a {
      color: white;
      font-size: 15px;
      margin-top: 8px;
      transition: 0.1s; }
    .checkin .checkin__cont a:hover {
      font-weight: 500; }
    .checkin .checkin__cont form {
      display: flex;
      flex-direction: column;
      width: 80%; }
      .checkin .checkin__cont form label {
        padding-left: 5%;
        color: white;
        margin-bottom: 8px;
        margin-top: 15px;
        font-size: var(--form_label_size); }
      .checkin .checkin__cont form input[type="text"],
      .checkin .checkin__cont form input[type="number"],
      .checkin .checkin__cont form input[type="password"] {
        align-self: center;
        width: 95%;
        padding: 8px 0px 5px 20px;
        color: white;
        border: none;
        border-radius: 10px;
        font-size: var(--form_input_size);
        font-weight: 400;
        background-color: inherit;
        box-shadow: inset -2px -2px 8px rgba(252, 197, 211, 0.8), inset -2px -2px 12px rgba(253, 190, 206, 0.5), inset 2px 2px 4px rgba(253, 190, 206, 0.1), inset 2px 2px 8px rgba(0, 0, 0, 0.15); }
      .checkin .checkin__cont form input:focus {
        background-color: rgba(174, 215, 245, 0.2); }
      .checkin .checkin__cont form input::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.68); }
      .checkin .checkin__cont form textarea {
        max-width: 100%;
        max-height: 100px;
        min-width: 100%; }
      .checkin .checkin__cont form input[type="submit"] {
        border: none;
        width: 60%;
        align-self: center;
        color: white;
        margin-bottom: 4%; }

header {
  background-color: #aed7f5;
  width: 100%;
  height: 100vh;
  box-shadow: 0px 45px 10px black; }

/* ----------------------------------*/
.navbar {
  width: 100%;
  height: var(--nav-height);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .navbar .navbar__logo {
    margin-left: 7%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .navbar .navbar__logo .logoshop {
      width: 30px;
      height: 80%; }
    .navbar .navbar__logo h1 {
      margin-left: 6px;
      color: #4A70D6;
      font-size: 28px; }
  .navbar .navbar__list {
    display: flex;
    margin-right: 5%; }
    .navbar .navbar__list ul {
      display: flex; }
    .navbar .navbar__list li a {
      margin: 0px var(--nav-margin);
      color: #4A70D6;
      font-size: var(--nav-size);
      font-weight: 400; }
      .navbar .navbar__list li a span {
        color: rgba(255, 113, 146, 0.85);
        border: 1px solid;
        border-radius: 20px;
        padding: 3px 14px;
        transition: 0.4s; }
      .navbar .navbar__list li a span:hover {
        font-weight: initial;
        background-color: rgba(255, 113, 146, 0.6);
        color: white;
        border: 1px solid rgba(255, 113, 146, 0.1); }
    .navbar .navbar__list li a:hover {
      font-weight: 600; }

/* ----------------------------------*/
.cont {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: var(--content-top); }
  .cont .cont__illus {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50.5%;
    height: 100%; }
    .cont .cont__illus .illus {
      width: 68%;
      height: auto; }
  .cont .cont__text {
    width: 43%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: 2%; }
    .cont .cont__text .text__text {
      margin-bottom: 6%; }
      .cont .cont__text .text__text span {
        font-weight: bold;
        color: #2C4482;
        font-size: 60px;
        text-transform: uppercase; }
      .cont .cont__text .text__text .text__exp {
        margin-left: 20px;
        margin-top: 30px;
        margin-bottom: 15px;
        color: white;
        font-size: 17px; }
        .cont .cont__text .text__text .text__exp ul li {
          display: flex;
          flex-direction: row;
          margin-bottom: 10px; }
          .cont .cont__text .text__text .text__exp ul li p {
            margin-left: 10px; }
    .cont .cont__text .text__button {
      width: 100%;
      padding-left: 5%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .cont .cont__text .text__button a {
        margin-left: 18px; }
  .cont .cont__nets {
    width: 6.5%;
    align-self: center; }

:root {
  --logo_span_size: 27px;
  --sections_a_size: 15px;
  --sections_span_size: 17px;
  --data_icon_size: 20px;
  --data_txt_size: 14px;
  --data_c_size: 12px;
  --nets_span_size: 18px;
  --nets_icon_size: 25px;
  /*-----------------*/
  --logo_img-width: 35px; }

footer {
  background-color: rgba(221, 225, 231, 0.85);
  padding: 10px 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  footer .footer__logo {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #2C4482; }
    footer .footer__logo img {
      width: var(--logo_img-width);
      height: auto; }
    footer .footer__logo span {
      font-weight: bolder;
      color: #4A70D6;
      margin-left: 10px;
      font-size: var(--logo_span_size); }
  footer .footer__sections {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #2C4482; }
    footer .footer__sections a {
      color: #FF7192;
      margin-bottom: 5px;
      font-size: var(--sections_a_size); }
    footer .footer__sections a:hover {
      font-weight: 500; }
    footer .footer__sections span {
      color: #2C4482;
      font-size: var(--sections_span_size);
      margin-bottom: 7px;
      font-weight: 500; }
  footer .footer__datas {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #2C4482; }
    footer .footer__datas div {
      display: flex; }
      footer .footer__datas div .datas__icon {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px; }
        footer .footer__datas div .datas__icon i {
          color: #FF7192;
          font-size: var(--data_icon_size);
          margin-bottom: 10px; }
      footer .footer__datas div .datas__txt {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 10px;
        margin-bottom: 10px; }
        footer .footer__datas div .datas__txt span {
          color: #2C4482;
          font-size: var(--data_txt_size);
          margin-bottom: 10px; }
    footer .footer__datas span {
      color: black;
      font-size: var(--data_c_size); }
  footer .footer__nets {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    footer .footer__nets span {
      color: #2C4482;
      font-size: var(--nets_span_size);
      margin-bottom: 13px; }
    footer .footer__nets div a i {
      color: #FF7192;
      font-size: var(--nets_icon_size);
      margin: 0 5px; }

.neu {
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
  color: white;
  font-size: 18px;
  border-radius: 40px;
  background-color: rgba(255, 113, 146, 0.7);
  box-shadow: -2px -2px 8px #cee5f5, -2px -2px 12px rgba(255, 255, 255, 0.4), inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15); }

.neu:hover {
  background-color: rgba(74, 112, 214, 0.5); }

.neu2 {
  padding: 12.5px 12.5px;
  margin-top: 25px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  font-size: 20px;
  border-radius: 40px;
  box-shadow: -2px -2px 8px #cee5f5, -2px -2px 12px rgba(255, 255, 255, 0.4), inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
  transition: 0.4s; }

.neu2:hover {
  padding: 13px 13px;
  font-size: 25px; }

.neu3 {
  background-color: inherit;
  padding: 10px 30px;
  margin-top: 40px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  color: #4A70D6;
  font-size: 18px;
  border-radius: 40px;
  box-shadow: -2px -2px 8px #ebadbc, -2px -2px 12px rgba(245, 206, 206, 0.6), inset 2px 2px 4px rgba(255, 255, 255, 0.3), 2px 2px 8px rgba(0, 0, 0, 0.15); }

.neu3:hover {
  background-color: rgba(255, 255, 255, 0.15); }

.neub {
  font-weight: 500;
  border-radius: 20px;
  color: #4A70D6;
  font-size: 18px;
  letter-spacing: 2px;
  margin-top: 40px;
  margin-left: 10px;
  padding: 10px 30px;
  box-shadow: -2px -2px 8px white, -2px -2px 12px rgba(255, 255, 255, 0.6), inset 2px 2px 4px rgba(255, 255, 255, 0.2), 2px 2px 8px rgba(0, 0, 0, 0.15);
  transition: background-color .3s ease-in; }

.neub:hover {
  color: rgba(255, 113, 146, 0.6); }

.turn {
  background-color: rgba(234, 235, 243, 0.95);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  box-shadow: 0px 45px 18px rgba(0, 0, 0, 0.2); }
  .turn .turn__illus {
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    .turn .turn__illus img {
      padding-left: 5%;
      width: 90%;
      height: auto; }
  .turn .turn__cont {
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 3%; }
    .turn .turn__cont h2 {
      color: rgba(255, 113, 146, 0.8);
      font-size: 52.5px;
      font-weight: bolder; }
    .turn .turn__cont span {
      color: #4A70D6;
      margin-top: 25px;
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 25px; }
    .turn .turn__cont .turn__list ul li {
      color: #4A70D6;
      margin-bottom: 10px;
      display: flex;
      margin-left: 10px;
      margin-top: 10px; }
      .turn .turn__cont .turn__list ul li p {
        margin-left: 10px; }

.shop {
  width: 100%;
  height: 100vh;
  background-color: rgba(248, 149, 172, 0.67);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 45px 15px black; }
  .shop .shop__cont {
    width: 45%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10%; }
    .shop .shop__cont h2 {
      color: #4A70D6;
      font-size: 65px;
      margin-bottom: 30px; }
    .shop .shop__cont p {
      color: white;
      margin-top: 8px; }
    .shop .shop__cont ol {
      margin-left: 5%;
      margin-top: 20px; }
    .shop .shop__cont ol li {
      list-style-position: inside;
      color: white;
      margin-top: 5px; }
    .shop .shop__cont a {
      margin-left: 10%; }
  .shop .shop__illus {
    width: 55%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    .shop .shop__illus img {
      width: 80%;
      height: auto; }

.others {
  width: 100%;
  height: 100vh;
  background-color: rgba(234, 235, 243, 0.9);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .others .others__illus1 {
    width: 35%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    .others .others__illus1 img {
      width: 80%;
      height: auto; }
  .others .others__illus2 {
    width: 35%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    .others .others__illus2 img {
      width: 80%;
      height: auto; }
  .others .others__content {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .others .others__content h2 {
      font-size: 45px;
      color: #2C4482;
      text-align: center;
      margin-bottom: 20px; }
    .others .others__content ul {
      width: 88%; }
      .others .others__content ul li {
        align-self: flex-start;
        color: rgba(44, 68, 130, 0.8);
        padding-top: 10px;
        padding-left: 6%;
        list-style-type: disc;
        font-size: 17px; }
    .others .others__content a {
      letter-spacing: 0;
      color: #2C4482; }
    .others .others__content a:hover {
      color: #f895ac; }

:root {
  --illustration_p_size: 22px;
  --form_title_size: 40px;
  --form_label_size: 17px;
  --form_input_size: 15px;
  --form_submit_size: 20px;
  /*-----------------*/ }

.contact {
  width: 100%;
  height: auto;
  display: flex;
  background-color: rgba(74, 112, 214, 0.8); }
  .contact .contact__form {
    width: 100%;
    padding: 3% 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .contact .contact__form h2 {
      color: white;
      font-weight: 400;
      font-size: var(--form_title_size);
      letter-spacing: 15px;
      margin-bottom: 2%;
      align-self: center; }
    .contact .contact__form form {
      display: flex;
      flex-direction: column;
      width: 60%; }
      .contact .contact__form form label {
        color: white;
        margin-bottom: 8px;
        font-size: var(--form_label_size); }
      .contact .contact__form form textarea,
      .contact .contact__form form input[type="text"] {
        width: 100%;
        padding: 8px 0px 5px 20px;
        margin-bottom: 15px;
        border: none;
        border-radius: 10px;
        color: white;
        font-size: var(--form_input_size);
        font-weight: 400;
        background-color: rgba(255, 255, 255, 0.3); }
      .contact .contact__form form input[type="text"]:focus {
        background-color: rgba(248, 149, 172, 0.3); }
      .contact .contact__form form textarea:focus {
        background-color: rgba(248, 149, 172, 0.3); }
      .contact .contact__form form input::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.68); }
      .contact .contact__form form textarea {
        max-width: 100%;
        max-height: 100px;
        min-width: 100%; }
      .contact .contact__form form input[type="submit"] {
        background-color: inherit;
        font-weight: 500;
        font-size: var(--form_submit_size);
        align-self: center;
        border: 1.1px solid;
        border-radius: 20px;
        color: white;
        border-color: white;
        letter-spacing: 3px;
        margin: 10px auto;
        padding: 10px;
        transition: background-color .3s ease-in; }
      .contact .contact__form form input[type="submit"]:hover {
        background-color: rgba(248, 149, 172, 0.5); }

.modal_wrap {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center; }
  .modal_wrap .mesaje_modal {
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    width: 250px;
    height: auto;
    padding: 20px 20px 15px;
    display: flex;
    flex-direction: column; }
    .modal_wrap .mesaje_modal .cont_modal {
      display: flex;
      margin-left: 15px; }
      .modal_wrap .mesaje_modal .cont_modal p {
        margin-left: 10px;
        font-size: 16px; }
      .modal_wrap .mesaje_modal .cont_modal i {
        font-size: 18px;
        color: #b07aba; }
    .modal_wrap .mesaje_modal #btnClose {
      align-self: center;
      margin-top: 25px;
      width: 100px;
      border: 1.5px solid #b07aba;
      padding: 5px 20px;
      border-radius: 15px;
      text-align: center;
      color: #b07aba;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer; }
    .modal_wrap .mesaje_modal #btnClose:hover {
      background-color: #b07aba;
      color: white; }

/*# sourceMappingURL=style.css.map */
