* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: white;
  overflow-x: hidden;
  font-family: 'Baloo Chettan 2', sans-serif; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

:focus {
  outline: none; }

:root {
  --nav-size: 17px;
  --machine-size: 15.5px;
  --nets-size: 18.5px;
  --nets-size-hover: 23px;
  /*-----------------*/
  --nav-height: 68px;
  /*-----------------*/
  --logo-width: 200px;
  --machine-width: 25%;
  --machine-left: 10%;
  /*-----------------*/
  --machine-bottom: 50px;
  --machine-top: 4%;
  /*-----------------*/
  --nav-margin: 40px;
  --content-top: 10px;
  /*-----------------*/
  --nets-top: 40%;
  --logo-top: 5%; }

.login {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0; }
  .login .log__cont {
    height: auto;
    padding-top: 0%;
    padding-bottom: 0%;
    width: 55%;
    height: 80%;
    background-color: #dde1e7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 35px; }
    .login .log__cont .lg_user {
      height: 100%;
      width: 58%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px; }
      .login .log__cont .lg_user .navbar__logo {
        display: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 5%; }
        .login .log__cont .lg_user .navbar__logo .logoshop {
          width: 30px;
          height: auto; }
        .login .log__cont .lg_user .navbar__logo h1 {
          margin-left: 6px;
          color: #dde1e7;
          font-size: 28px; }
      .login .log__cont .lg_user .op__store {
        height: 70%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .login .log__cont .lg_user .op__store a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .login .log__cont .lg_user .op__store a i {
            font-size: 100px;
            color: #f895ac;
            margin-top: 3%;
            margin-bottom: 10%;
            transition: 0.25s; }
          .login .log__cont .lg_user .op__store a span {
            font-size: 18px;
            color: #f895ac;
            font-weight: bold;
            margin-top: 5%;
            transition: 0.25s; }
        .login .log__cont .lg_user .op__store a:hover i {
          font-size: 110px; }
        .login .log__cont .lg_user .op__store a:hover span {
          font-size: 20px; }
      .login .log__cont .lg_user .userform {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .login .log__cont .lg_user .userform span {
          text-transform: uppercase;
          color: #4B79A1;
          letter-spacing: 3px;
          font-size: 35px;
          font-weight: 500;
          margin-bottom: 2%; }
        .login .log__cont .lg_user .userform i {
          font-size: 100px;
          color: #4B79A1;
          margin-top: 3%;
          margin-bottom: 5%; }
        .login .log__cont .lg_user .userform .ch__bord {
          width: 60%;
          border-bottom: 2px solid white;
          margin-top: 2%;
          margin-bottom: 2%; }
        .login .log__cont .lg_user .userform a {
          color: #4B79A1;
          font-size: 15px;
          transition: 0.1s;
          margin-bottom: 1.5%; }
        .login .log__cont .lg_user .userform a:hover {
          font-weight: 500; }
        .login .log__cont .lg_user .userform .pass {
          font-size: 13px; }
        .login .log__cont .lg_user .userform form {
          display: flex;
          flex-direction: column;
          width: 80%; }
          .login .log__cont .lg_user .userform form label {
            color: #4B79A1;
            font-size: 15px;
            margin-bottom: 2%; }
          .login .log__cont .lg_user .userform form input {
            align-self: center;
            font-family: FontAwesome, 'Baloo Chettan 2', sans-serif;
            width: 70%;
            padding: 8px 0px 5px 20px;
            margin-bottom: 5%;
            color: rgba(75, 121, 161, 0.8);
            border: none;
            border-radius: 10px;
            font-size: 15px;
            font-weight: 400;
            background-color: #dde1e7;
            box-shadow: inset -2px -2px 8px white, inset -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), inset 2px 2px 8px rgba(0, 0, 0, 0.15); }
          .login .log__cont .lg_user .userform form input:focus {
            background-color: rgba(174, 215, 245, 0.6); }
          .login .log__cont .lg_user .userform form input::-webkit-input-placeholder {
            color: rgba(75, 121, 161, 0.8); }
          .login .log__cont .lg_user .userform form textarea {
            max-width: 100%;
            max-height: 100px;
            min-width: 100%; }
          .login .log__cont .lg_user .userform form input[type="submit"] {
            width: 50%;
            font-weight: 500;
            font-size: var(--form_submit_size);
            align-self: center;
            border-radius: 20px;
            color: #4B79A1;
            letter-spacing: 2px;
            margin-top: 4%;
            box-shadow: -2px -2px 8px white, -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
            transition: background-color .3s ease-in; }
          .login .log__cont .lg_user .userform form input[type="submit"]:hover {
            color: #FF7192; }
    .login .log__cont .lg_store {
      height: 100%;
      width: 42%;
      background: #4B79A1;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .login .log__cont .lg_store .storeform {
        height: 100%;
        width: 100%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .login .log__cont .lg_store .storeform span {
          text-transform: uppercase;
          color: #4B79A1;
          letter-spacing: 3px;
          font-size: 35px;
          font-weight: 500;
          margin-bottom: 2%; }
        .login .log__cont .lg_store .storeform i {
          font-size: 100px;
          color: #4B79A1;
          margin-top: 3%;
          margin-bottom: 5%; }
        .login .log__cont .lg_store .storeform .ch__bord {
          width: 60%;
          border-bottom: 2px solid white;
          margin-top: 2%;
          margin-bottom: 2%; }
        .login .log__cont .lg_store .storeform a {
          color: #4B79A1;
          font-size: 15px;
          transition: 0.1s;
          margin-bottom: 1.5%; }
        .login .log__cont .lg_store .storeform a:hover {
          font-weight: 500; }
        .login .log__cont .lg_store .storeform .pass {
          font-size: 13px; }
        .login .log__cont .lg_store .storeform form {
          display: flex;
          flex-direction: column;
          width: 80%; }
          .login .log__cont .lg_store .storeform form label {
            color: #4B79A1;
            font-size: 15px;
            margin-bottom: 2%; }
          .login .log__cont .lg_store .storeform form input {
            align-self: center;
            font-family: FontAwesome, 'Baloo Chettan 2', sans-serif;
            width: 70%;
            padding: 8px 0px 5px 20px;
            margin-bottom: 5%;
            color: rgba(75, 121, 161, 0.8);
            border: none;
            border-radius: 10px;
            font-size: 15px;
            font-weight: 400;
            background-color: #dde1e7;
            box-shadow: inset -2px -2px 8px white, inset -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), inset 2px 2px 8px rgba(0, 0, 0, 0.15); }
          .login .log__cont .lg_store .storeform form input:focus {
            background-color: rgba(174, 215, 245, 0.6); }
          .login .log__cont .lg_store .storeform form input::-webkit-input-placeholder {
            color: rgba(75, 121, 161, 0.8); }
          .login .log__cont .lg_store .storeform form textarea {
            max-width: 100%;
            max-height: 100px;
            min-width: 100%; }
          .login .log__cont .lg_store .storeform form input[type="submit"] {
            width: 50%;
            font-weight: 500;
            font-size: var(--form_submit_size);
            align-self: center;
            border-radius: 20px;
            color: #4B79A1;
            letter-spacing: 2px;
            margin-top: 4%;
            box-shadow: -2px -2px 8px white, -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
            transition: background-color .3s ease-in; }
          .login .log__cont .lg_store .storeform form input[type="submit"]:hover {
            color: #FF7192; }
      .login .log__cont .lg_store .navbar__logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 5%; }
        .login .log__cont .lg_store .navbar__logo .logoshop {
          width: 30px;
          height: auto; }
        .login .log__cont .lg_store .navbar__logo h1 {
          margin-left: 6px;
          color: #dde1e7;
          font-size: 28px; }
      .login .log__cont .lg_store .op__store {
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .login .log__cont .lg_store .op__store a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .login .log__cont .lg_store .op__store a i {
            font-size: 100px;
            color: #f895ac;
            margin-top: 3%;
            margin-bottom: 10%;
            transition: 0.25s; }
          .login .log__cont .lg_store .op__store a span {
            font-size: 18px;
            color: #f895ac;
            font-weight: bold;
            margin-top: 5%;
            transition: 0.25s; }
        .login .log__cont .lg_store .op__store a:hover i {
          font-size: 110px; }
        .login .log__cont .lg_store .op__store a:hover span {
          font-size: 20px; }

.checkin {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0; }
  .checkin .checkin__cont {
    height: auto;
    width: 30%;
    padding-top: 2%;
    padding-bottom: 1%;
    background-color: #dde1e7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px; }
    .checkin .checkin__cont #lol {
      color: #d45a5a;
      font-size: 18px; }
    .checkin .checkin__cont span {
      text-transform: uppercase;
      color: #4B79A1;
      letter-spacing: 4px;
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 2%;
      padding: 0; }
    .checkin .checkin__cont a {
      color: #4B79A1;
      font-size: 15px;
      margin-top: 8px;
      transition: 0.1s; }
    .checkin .checkin__cont a:hover {
      font-weight: 500; }
    .checkin .checkin__cont .ch__bord {
      width: 60%;
      border-bottom: 2px solid white;
      margin-top: 10px;
      margin-bottom: 10px; }
    .checkin .checkin__cont .ch__coonf {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 8%; }
      .checkin .checkin__cont .ch__coonf i {
        font-size: 80px;
        color: #5dba5d; }
      .checkin .checkin__cont .ch__coonf span {
        color: #4B79A1;
        font-size: 25px;
        text-transform: inherit;
        letter-spacing: inherit; }
    .checkin .checkin__cont .checkforms {
      display: flex;
      flex-direction: column;
      width: 80%; }
      .checkin .checkin__cont .checkforms label {
        padding-left: 5%;
        color: #4B79A1;
        margin-bottom: 8px;
        margin-top: 15px;
        font-size: 14px; }
      .checkin .checkin__cont .checkforms input[type="text"],
      .checkin .checkin__cont .checkforms input[type="number"],
      .checkin .checkin__cont .checkforms input[type="password"] {
        align-self: center;
        width: 95%;
        padding: 8px 0px 5px 20px;
        color: rgba(75, 121, 161, 0.8);
        border: none;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 400;
        background-color: #dde1e7;
        box-shadow: inset -2px -2px 8px white, inset -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), inset 2px 2px 8px rgba(0, 0, 0, 0.15); }
      .checkin .checkin__cont .checkforms input:focus {
        background-color: rgba(174, 215, 245, 0.6); }
      .checkin .checkin__cont .checkforms input::-webkit-input-placeholder {
        color: rgba(75, 121, 161, 0.8);
        font-size: 14px; }
      .checkin .checkin__cont .checkforms textarea {
        max-width: 100%;
        max-height: 100px;
        min-width: 100%; }
      .checkin .checkin__cont .checkforms input[type="submit"] {
        width: 60%;
        font-weight: 500;
        font-size: 15px;
        align-self: center;
        border-radius: 20px;
        border: none;
        color: #4B79A1;
        letter-spacing: 2px;
        margin-top: 6%;
        margin-bottom: 4%;
        padding: 10px;
        box-shadow: -2px -2px 8px white, -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
        transition: background-color .3s ease-in; }
      .checkin .checkin__cont .checkforms input[type="submit"]:hover {
        color: rgba(255, 113, 146, 0.6); }

#shome {
  background-color: #aed7f5;
  width: 100%;
  height: 100vh;
  box-shadow: 0px 45px 10px black; }

/* ----------------------------------*/
.navbar {
  width: 100%;
  height: var(--nav-height);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .navbar .navbar__logo {
    margin-left: 7%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .navbar .navbar__logo .logoshop {
      width: 30px;
      height: 80%; }
    .navbar .navbar__logo h1 {
      margin-left: 6px;
      color: #4A70D6;
      font-size: 28px; }
  .navbar .navbar__list {
    display: flex;
    margin-right: 5%; }
    .navbar .navbar__list ul {
      display: flex; }
    .navbar .navbar__list li a {
      margin: 0px var(--nav-margin);
      color: #4A70D6;
      font-size: var(--nav-size);
      font-weight: 400; }
      .navbar .navbar__list li a span {
        color: rgba(255, 113, 146, 0.9);
        font-size: 18px;
        border-radius: 20px;
        padding: 3px 14px;
        font-weight: 500;
        transition: 0.4s; }
      .navbar .navbar__list li a span:hover {
        font-weight: initial;
        background-color: rgba(255, 113, 146, 0.6);
        color: white;
        border: 1px solid rgba(255, 113, 146, 0.1); }
    .navbar .navbar__list li a:hover {
      font-weight: 600; }

/* ----------------------------------*/
.cont {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: var(--content-top); }
  .cont .cont__illus {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50.5%;
    height: 100%; }
    .cont .cont__illus .illus {
      width: 65%;
      height: auto; }
  .cont .cont__text {
    width: 43%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: 2%; }
    .cont .cont__text .text__text {
      margin-bottom: 6%; }
      .cont .cont__text .text__text span {
        font-weight: bold;
        color: #2C4482;
        font-size: 60px;
        text-transform: uppercase; }
      .cont .cont__text .text__text .text__exp {
        margin-left: 20px;
        margin-top: 30px;
        margin-bottom: 15px;
        color: white;
        font-size: 17px; }
        .cont .cont__text .text__text .text__exp ul li {
          display: flex;
          flex-direction: row;
          margin-bottom: 10px; }
          .cont .cont__text .text__text .text__exp ul li p {
            margin-left: 10px; }
    .cont .cont__text .text__button {
      width: 100%;
      padding-left: 5%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .cont .cont__text .text__button a {
        margin-left: 18px; }
  .cont .cont__nets {
    width: 6.5%;
    align-self: center; }

:root {
  --logo_span_size: 27px;
  --sections_a_size: 15px;
  --sections_span_size: 17px;
  --data_icon_size: 20px;
  --data_txt_size: 14px;
  --data_c_size: 12px;
  --nets_span_size: 18px;
  --nets_icon_size: 25px;
  /*-----------------*/
  --logo_img-width: 35px; }

footer {
  background-color: #dde1e7;
  padding: 10px 0;
  overflow: hidden;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  border-top: 2px solid white; }
  footer .footer__logo {
    width: 25%;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid white; }
    footer .footer__logo .logo1 {
      display: flex !important;
      justify-content: center;
      align-items: center;
      padding-bottom: 10px;
      border-bottom: 1.5px solid white; }
      footer .footer__logo .logo1 img {
        width: var(--logo_img-width);
        height: auto; }
      footer .footer__logo .logo1 span {
        font-weight: bolder;
        color: #4A70D6;
        margin-left: 12px;
        font-size: var(--logo_span_size); }
    footer .footer__logo .logo2 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 8px; }
      footer .footer__logo .logo2 img {
        width: 20px;
        height: auto; }
      footer .footer__logo .logo2 span {
        font-weight: bold;
        color: #7697a0;
        margin-left: 5px;
        font-size: 15px; }
  footer .footer__terms {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid white; }
    footer .footer__terms a {
      font-size: 13px;
      color: #4A70D6;
      padding-bottom: 5px; }
  footer .footer__datas {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid white; }
    footer .footer__datas div {
      display: flex; }
      footer .footer__datas div .datas__icon {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px; }
        footer .footer__datas div .datas__icon i {
          color: #FF7192;
          font-size: var(--data_icon_size);
          margin-bottom: 10px; }
      footer .footer__datas div .datas__txt {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 10px;
        margin-bottom: 10px; }
        footer .footer__datas div .datas__txt span {
          color: #4A70D6;
          font-size: var(--data_txt_size);
          margin-bottom: 10px; }
    footer .footer__datas span {
      color: black;
      font-size: var(--data_c_size); }
  footer .footer__nets {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    footer .footer__nets span {
      color: #4A70D6;
      font-size: var(--nets_span_size);
      margin-bottom: 13px; }
    footer .footer__nets div a i {
      color: #FF7192;
      font-size: var(--nets_icon_size);
      margin: 0 5px; }

.neu {
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
  color: white;
  font-size: 18px;
  border-radius: 40px;
  background-color: rgba(255, 113, 146, 0.7);
  box-shadow: -2px -2px 8px #cee5f5, -2px -2px 12px rgba(255, 255, 255, 0.4), inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15); }

.neu:hover {
  background-color: rgba(74, 112, 214, 0.5); }

.neu2 {
  padding: 12.5px 12.5px;
  margin-top: 25px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  font-size: 20px;
  border-radius: 40px;
  box-shadow: -2px -2px 8px #cee5f5, -2px -2px 12px rgba(255, 255, 255, 0.4), inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
  transition: 0.4s; }

.neu2:hover {
  padding: 13px 13px;
  font-size: 25px; }

.neu3 {
  background-color: inherit;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  color: #4A70D6;
  font-size: 18px;
  border-radius: 40px;
  box-shadow: -2px -2px 8px #ebadbc, -2px -2px 12px rgba(245, 206, 206, 0.6), inset 2px 2px 4px rgba(255, 255, 255, 0.3), 2px 2px 8px rgba(0, 0, 0, 0.15); }

.neu3:hover {
  background-color: rgba(255, 255, 255, 0.15); }

.neub {
  font-weight: 500;
  border-radius: 20px;
  color: #4A70D6;
  font-size: 18px;
  letter-spacing: 2px;
  margin-top: 40px;
  margin-left: 10px;
  padding: 10px 30px;
  box-shadow: -2px -2px 8px white, -2px -2px 12px rgba(255, 255, 255, 0.6), inset 2px 2px 4px white, 2px 2px 8px rgba(0, 0, 0, 0.3);
  transition: background-color .3s ease-in; }

.neub:hover {
  color: rgba(255, 113, 146, 0.6); }

.turn {
  background-color: rgba(221, 225, 231, 0.95);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  box-shadow: 0px 45px 18px rgba(0, 0, 0, 0.2); }
  .turn .turn__illus {
    width: 55%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    .turn .turn__illus img {
      padding-left: 5%;
      width: 85%;
      height: auto; }
  .turn .turn__cont {
    width: 45%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 3%; }
    .turn .turn__cont h2 {
      color: rgba(255, 113, 146, 0.8);
      font-size: 50px;
      font-weight: bolder; }
    .turn .turn__cont span {
      color: #4A70D6;
      margin-top: 25px;
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 25px; }
    .turn .turn__cont .turn__list ul li {
      color: #4A70D6;
      margin-bottom: 10px;
      display: flex;
      margin-left: 10px;
      margin-top: 10px; }
      .turn .turn__cont .turn__list ul li p {
        margin-left: 10px; }

.shop {
  width: 100%;
  height: 100vh;
  background-color: rgba(248, 149, 172, 0.67);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 45px 15px black; }
  .shop .shop__cont {
    width: 45%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10%; }
    .shop .shop__cont h2 {
      color: #4A70D6;
      font-size: 55px;
      margin-bottom: 30px; }
    .shop .shop__cont p {
      color: white;
      margin-top: 8px; }
    .shop .shop__cont ol {
      margin-left: 5%;
      margin-top: 20px; }
    .shop .shop__cont ol li {
      list-style-position: inside;
      color: white;
      margin-top: 5px; }
    .shop .shop__cont a {
      margin-top: 10%;
      margin-left: 18%; }
  .shop .shop__illus {
    width: 55%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    .shop .shop__illus img {
      width: 80%;
      height: auto; }

.others {
  width: 100%;
  height: 100vh;
  background-color: rgba(221, 225, 231, 0.9);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .others .others__illus1 {
    width: 35%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    .others .others__illus1 img {
      width: 80%;
      height: auto; }
  .others .others__illus2 {
    width: 35%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    .others .others__illus2 img {
      width: 80%;
      height: auto; }
  .others .others__content {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .others .others__content h2 {
      font-size: 45px;
      color: #4B79A1;
      text-align: center;
      margin-bottom: 20px; }
    .others .others__content ul {
      width: 88%; }
      .others .others__content ul li {
        align-self: flex-start;
        color: rgba(75, 121, 161, 0.8);
        padding-top: 10px;
        padding-left: 6%;
        list-style-type: disc;
        font-size: 17px; }
    .others .others__content a {
      letter-spacing: 0;
      color: #4B79A1; }
    .others .others__content a:hover {
      color: #f895ac; }

:root {
  --illustration_p_size: 22px;
  --form_title_size: 40px;
  --form_label_size: 17px;
  --form_input_size: 15px;
  --form_submit_size: 20px;
  /*-----------------*/ }

.contact {
  width: 100%;
  height: auto;
  display: flex;
  background-color: rgba(248, 149, 172, 0.85); }
  .contact .contact__form {
    width: 100%;
    padding: 3% 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .contact .contact__form h2 {
      color: white;
      font-weight: 400;
      font-size: var(--form_title_size);
      letter-spacing: 15px;
      margin-bottom: 2%;
      align-self: center; }
    .contact .contact__form form {
      display: flex;
      flex-direction: column;
      width: 60%; }
      .contact .contact__form form label {
        color: white;
        margin-bottom: 8px;
        font-size: var(--form_label_size); }
      .contact .contact__form form textarea,
      .contact .contact__form form input[type="text"] {
        width: 100%;
        padding: 8px 0px 5px 20px;
        margin-bottom: 15px;
        border: none;
        border-radius: 10px;
        color: white;
        font-size: var(--form_input_size);
        font-weight: 400;
        background-color: rgba(255, 255, 255, 0.3); }
      .contact .contact__form form input[type="text"]:focus {
        background-color: rgba(248, 149, 172, 0.3); }
      .contact .contact__form form textarea:focus {
        background-color: rgba(248, 149, 172, 0.3); }
      .contact .contact__form form input::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.68); }
      .contact .contact__form form textarea {
        max-width: 100%;
        max-height: 100px;
        min-width: 100%; }
      .contact .contact__form form input[type="submit"] {
        background-color: inherit;
        font-weight: 500;
        font-size: var(--form_submit_size);
        align-self: center;
        border: 1.1px solid;
        border-radius: 20px;
        color: white;
        border-color: white;
        letter-spacing: 3px;
        margin: 10px auto;
        padding: 10px;
        transition: background-color .3s ease-in; }
      .contact .contact__form form input[type="submit"]:hover {
        background-color: rgba(248, 149, 172, 0.5); }

.modal_wrap {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center; }
  .modal_wrap .mesaje_modal {
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    width: 250px;
    height: auto;
    padding: 20px 20px 15px;
    display: flex;
    flex-direction: column; }
    .modal_wrap .mesaje_modal .cont_modal {
      display: flex;
      margin-left: 15px; }
      .modal_wrap .mesaje_modal .cont_modal p {
        margin-left: 10px;
        font-size: 16px; }
      .modal_wrap .mesaje_modal .cont_modal i {
        font-size: 18px;
        color: #b07aba; }
    .modal_wrap .mesaje_modal #btnClose {
      align-self: center;
      margin-top: 25px;
      width: 100px;
      border: 1.5px solid #b07aba;
      padding: 5px 20px;
      border-radius: 15px;
      text-align: center;
      color: #b07aba;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer; }
    .modal_wrap .mesaje_modal #btnClose:hover {
      background-color: #b07aba;
      color: white; }

#shome2 {
  background-color: #dde1e7; }

.navbar2 {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto; }
  .navbar2 .nav__logo {
    justify-self: start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .navbar2 .nav__logo img {
      width: 8%;
      height: auto;
      margin-right: 3%; }
    .navbar2 .nav__logo span {
      color: #4B79A1;
      font-size: 28px;
      font-weight: bolder; }
  .navbar2 .nav__close {
    position: absolute;
    right: 0;
    width: 12%; }
    .navbar2 .nav__close a {
      display: inline; }
      .navbar2 .nav__close a i {
        color: #FF7192;
        font-size: 17px;
        margin: 0;
        padding: 0;
        transition: 0.2s; }
      .navbar2 .nav__close a span {
        margin-left: 5%;
        color: #FF7192;
        font-size: 18px;
        font-weight: 500;
        padding: 0;
        transition: 0.2s; }
    .navbar2 .nav__close a:hover {
      text-decoration: none; }
      .navbar2 .nav__close a:hover i {
        font-size: 17.5px; }
      .navbar2 .nav__close a:hover span {
        font-weight: bold; }

#main_principal {
  background-color: #dde1e7; }

a:hover {
  text-decoration: none !important; }

.actions {
  width: 100%;
  height: 90vh; }
  .actions .info {
    width: 100%;
    height: 25%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .actions .info .info__que {
      width: 25%;
      height: 100%;
      background-color: #dde1e7;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .actions .info .info__que .cont__que {
        width: 95%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: initial;
        padding: 10px 30px;
        border-radius: 40px;
        box-shadow: -2px -2px 8px white, -2px -2px 12px rgba(255, 255, 255, 0.6), inset 2px 2px 4px rgba(255, 255, 255, 0.2), 2px 2px 8px rgba(0, 0, 0, 0.15); }
        .actions .info .info__que .cont__que h2 {
          color: #4B79A1;
          font-size: 18px;
          font-weight: 600;
          text-transform: uppercase;
          text-align: center;
          margin-bottom: 6%; }
        .actions .info .info__que .cont__que a {
          font-size: 13.5px;
          color: #FF7192;
          margin-bottom: 5px; }
        .actions .info .info__que .cont__que a:hover {
          font-weight: 500;
          text-decoration: none; }
    .actions .info .info__personal {
      width: 35%;
      height: 100%;
      background-color: #dde1e7;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .actions .info .info__personal .cont {
        width: 95%;
        height: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: initial;
        padding: 10px 30px;
        border-radius: 40px;
        box-shadow: -2px -2px 8px white, -2px -2px 12px rgba(255, 255, 255, 0.6), inset 2px 2px 4px rgba(255, 255, 255, 0.2), 2px 2px 8px rgba(0, 0, 0, 0.15); }
        .actions .info .info__personal .cont .personal {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin-left: 5%; }
          .actions .info .info__personal .cont .personal .personal__img {
            margin-right: 8%; }
            .actions .info .info__personal .cont .personal .personal__img i {
              color: #4B79A1;
              font-size: 85px; }
          .actions .info .info__personal .cont .personal .personal__data {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; }
            .actions .info .info__personal .cont .personal .personal__data span {
              color: #4B79A1;
              font-size: 17px;
              font-weight: 600;
              text-transform: uppercase;
              margin-bottom: 3%; }
            .actions .info .info__personal .cont .personal .personal__data ul li {
              color: #4B79A1;
              font-size: 13.5px;
              margin-bottom: 1.5px; }
        .actions .info .info__personal .cont .user__edit {
          align-self: flex-end;
          height: 100%;
          top: 0;
          right: 0; }
          .actions .info .info__personal .cont .user__edit i {
            color: #FF7192;
            align-self: flex-end; }
          .actions .info .info__personal .cont .user__edit i:hover {
            font-weight: 500; }
    .actions .info .info__activities {
      width: 35%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .actions .info .info__activities .cont2 {
        width: 95%;
        height: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: initial;
        padding: 10px 30px;
        border-radius: 40px;
        box-shadow: -2px -2px 8px white, -2px -2px 12px rgba(255, 255, 255, 0.6), inset 2px 2px 4px rgba(255, 255, 255, 0.2), 2px 2px 8px rgba(0, 0, 0, 0.15); }
        .actions .info .info__activities .cont2 .activities__img {
          margin-left: 5%; }
          .actions .info .info__activities .cont2 .activities__img i {
            color: #4B79A1;
            font-size: 80px; }
        .actions .info .info__activities .cont2 .cont__text {
          margin-left: 3%; }
          .actions .info .info__activities .cont2 .cont__text .activities__nav {
            color: #4B79A1;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 5%; }
          .actions .info .info__activities .cont2 .cont__text .activities {
            display: flex;
            flex-direction: column;
            color: #4B79A1;
            font-size: 14px; }
            .actions .info .info__activities .cont2 .cont__text .activities span {
              margin-bottom: 3px; }
        .actions .info .info__activities .cont2 .act__edit {
          align-self: flex-end;
          height: 100%;
          top: 0;
          right: 0; }
          .actions .info .info__activities .cont2 .act__edit i {
            color: #FF7192;
            align-self: flex-end; }
          .actions .info .info__activities .cont2 .act__edit i:hover {
            font-weight: 500; }
  .actions .op {
    width: 100%;
    height: 75%;
    background-color: #dde1e7;
    display: flex;
    flex-direction: row; }
    .actions .op .op__shop {
      width: 50%;
      height: 100%;
      background-color: initial;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .actions .op .op__shop .cont_shop {
        width: 80%;
        height: 82%;
        display: flex;
        margin-left: 10%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: initial;
        padding: 10px 30px;
        border-radius: 40px;
        box-shadow: -2px -2px 8px white, -2px -2px 12px rgba(255, 255, 255, 0.6), inset 2px 2px 4px rgba(255, 255, 255, 0.2), 2px 2px 8px rgba(0, 0, 0, 0.15); }
        .actions .op .op__shop .cont_shop .cont1 {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .actions .op .op__shop .cont_shop .cont1 a {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center; }
            .actions .op .op__shop .cont_shop .cont1 a img {
              width: 70%;
              height: auto;
              transition: 0.25s; }
          .actions .op .op__shop .cont_shop .cont1 span {
            color: #4B79A1;
            font-size: 22.5px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 600;
            margin-top: 5%; }
        .actions .op .op__shop .cont_shop .cont2 {
          width: 100%;
          height: 100%;
          display: none;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .actions .op .op__shop .cont_shop .cont2 img {
            width: 70%;
            height: auto;
            transition: 0.25s; }
          .actions .op .op__shop .cont_shop .cont2 span {
            color: rgba(75, 121, 161, 0.45);
            font-size: 22.5px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 600;
            margin-top: 5%; }
        .actions .op .op__shop .cont_shop .cont3 {
          width: 100%;
          height: 100%;
          display: none;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: initial; }
          .actions .op .op__shop .cont_shop .cont3 .store__nav {
            color: #4B79A1;
            font-size: 18px;
            margin-bottom: 15%;
            display: flex;
            flex-direction: column;
            text-align: center;
            line-height: 25px; }
          .actions .op .op__shop .cont_shop .cont3 .store__op {
            width: 100%;
            display: flex;
            flex-direction: row; }
            .actions .op .op__shop .cont_shop .cont3 .store__op .op {
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              background-color: initial; }
              .actions .op .op__shop .cont_shop .cont3 .store__op .op a {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: initial; }
                .actions .op .op__shop .cont_shop .cont3 .store__op .op a img {
                  width: 70%;
                  height: auto;
                  margin-bottom: 10%;
                  transition: 0.15s; }
                .actions .op .op__shop .cont_shop .cont3 .store__op .op a span {
                  color: #4B79A1;
                  font-size: 18px;
                  font-weight: 500; }
              .actions .op .op__shop .cont_shop .cont3 .store__op .op a:hover img {
                width: 72%; }
              .actions .op .op__shop .cont_shop .cont3 .store__op .op a:hover span {
                color: #FF7192;
                font-weight: 600; }
      .actions .op .op__shop .cont1:hover span {
        color: #FF7192; }
      .actions .op .op__shop .cont1:hover a img {
        width: 75%; }
    .actions .op .op__turn {
      width: 50%;
      height: 100%;
      background-color: initial;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .actions .op .op__turn .cont__turn {
        width: 80%;
        height: 82%;
        display: flex;
        margin-right: 10%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: initial;
        padding: 10px 30px;
        border-radius: 40px;
        box-shadow: -2px -2px 8px white, -2px -2px 12px rgba(255, 255, 255, 0.6), inset 2px 2px 4px rgba(255, 255, 255, 0.2), 2px 2px 8px rgba(0, 0, 0, 0.15); }
        .actions .op .op__turn .cont__turn .cont1 {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .actions .op .op__turn .cont__turn .cont1 a {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center; }
            .actions .op .op__turn .cont__turn .cont1 a img {
              width: 30%;
              height: auto;
              transition: 0.25s; }
          .actions .op .op__turn .cont__turn .cont1 span {
            color: #4B79A1;
            font-size: 22.5px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 600;
            margin-top: 5%; }
        .actions .op .op__turn .cont__turn .cont2 {
          width: 100%;
          height: 100%;
          display: none;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .actions .op .op__turn .cont__turn .cont2 img {
            width: 30%;
            height: auto;
            transition: 0.25s; }
          .actions .op .op__turn .cont__turn .cont2 span {
            color: rgba(75, 121, 161, 0.45);
            font-size: 22.5px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 600;
            margin-top: 5%; }
        .actions .op .op__turn .cont__turn .cont3 {
          width: 100%;
          height: 100%;
          display: none;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: initial; }
          .actions .op .op__turn .cont__turn .cont3 .turn__nav {
            color: #4B79A1;
            font-size: 20px;
            margin-bottom: 15%; }
          .actions .op .op__turn .cont__turn .cont3 .turn__op {
            width: 100%;
            display: flex;
            flex-direction: row; }
            .actions .op .op__turn .cont__turn .cont3 .turn__op .op {
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              background-color: initial; }
              .actions .op .op__turn .cont__turn .cont3 .turn__op .op a {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: initial; }
                .actions .op .op__turn .cont__turn .cont3 .turn__op .op a i {
                  color: #f895ac;
                  font-size: 100px;
                  margin-bottom: 10%;
                  transition: 0.15s; }
                .actions .op .op__turn .cont__turn .cont3 .turn__op .op a span {
                  color: #f895ac;
                  text-transform: uppercase;
                  font-size: 18px;
                  font-weight: 600; }
              .actions .op .op__turn .cont__turn .cont3 .turn__op .op a:hover i {
                color: #FF7192;
                font-size: 105px; }
              .actions .op .op__turn .cont__turn .cont3 .turn__op .op a:hover span {
                color: #FF7192; }
        .actions .op .op__turn .cont__turn .cont4 {
          width: 100%;
          height: 100%;
          display: none;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: initial; }
          .actions .op .op__turn .cont__turn .cont4 .turn__nav {
            color: #4B79A1;
            font-size: 18px;
            margin-bottom: 15%;
            display: flex;
            flex-direction: column;
            text-align: center;
            line-height: 25px; }
          .actions .op .op__turn .cont__turn .cont4 .store__op {
            width: 100%;
            display: flex;
            flex-direction: row; }
            .actions .op .op__turn .cont__turn .cont4 .store__op .op {
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              background-color: initial; }
              .actions .op .op__turn .cont__turn .cont4 .store__op .op a {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: initial; }
                .actions .op .op__turn .cont__turn .cont4 .store__op .op a img {
                  width: 70%;
                  height: auto;
                  margin-bottom: 10%;
                  transition: 0.15s; }
                .actions .op .op__turn .cont__turn .cont4 .store__op .op a span {
                  color: #4B79A1;
                  font-size: 18px;
                  font-weight: 500; }
              .actions .op .op__turn .cont__turn .cont4 .store__op .op a:hover img {
                width: 72%; }
              .actions .op .op__turn .cont__turn .cont4 .store__op .op a:hover span {
                color: #FF7192;
                font-weight: 600; }
      .actions .op .op__turn .cont1:hover span {
        color: #FF7192; }
      .actions .op .op__turn .cont1:hover a img {
        width: 34%; }
  .actions .op2 {
    width: 100%;
    height: 75%;
    background-color: #dde1e7;
    display: flex;
    flex-direction: row; }
    .actions .op2 .calendar__cont {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .actions .op2 .calendar__cont .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: aqua;
        width: 65%;
        height: 100%; }

.nav__table {
  width: 100%;
  height: 7.5%;
  display: block;
  position: absolute;
  margin-left: 47%;
  margin-top: 20px;
  justify-content: flex-end;
  align-items: center;
  color: #FF7192; }
  .nav__table .contnav {
    display: flex;
    color: #FF7192; }
    .nav__table .contnav i {
      margin-right: 10%;
      font-size: 22.5px;
      transition: 0.25s; }
    .nav__table .contnav span {
      font-size: 20px;
      margin-right: 2px; }
  .nav__table .contnav:hover {
    font-weight: 500; }
    .nav__table .contnav:hover i {
      font-size: 24.5px; }

.ui_shop {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0; }
  .ui_shop .shop__cont {
    height: 92.5%;
    width: 75%;
    background-color: #dde1e7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 35px; }
    .ui_shop .shop__cont .shop__info {
      width: 27.5%;
      height: 100%;
      border-bottom-left-radius: 30px;
      border-top-left-radius: 30px;
      display: flex;
      flex-direction: column;
      background-color: #4B79A1;
      justify-content: center;
      align-items: center; }
      .ui_shop .shop__cont .shop__info .navbar__logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px; }
        .ui_shop .shop__cont .shop__info .navbar__logo .logoshop {
          width: 30px;
          height: auto; }
        .ui_shop .shop__cont .shop__info .navbar__logo h1 {
          margin-left: 6px;
          color: #dde1e7;
          font-size: 25px; }
      .ui_shop .shop__cont .shop__info .datastore {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .ui_shop .shop__cont .shop__info .datastore img {
          max-width: 70% !important; }
      .ui_shop .shop__cont .shop__info .menu_products {
        width: 100%;
        height: auto; }
        .ui_shop .shop__cont .shop__info .menu_products .op_products {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 10%;
          margin-bottom: 5%; }
          .ui_shop .shop__cont .shop__info .menu_products .op_products ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; }
            .ui_shop .shop__cont .shop__info .menu_products .op_products ul li:first-of-type {
              border-top: none; }
            .ui_shop .shop__cont .shop__info .menu_products .op_products ul li {
              width: 60%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              font-size: 20px; }
              .ui_shop .shop__cont .shop__info .menu_products .op_products ul li a {
                width: 95%;
                margin-top: 2%;
                margin-bottom: 2%;
                text-align: center;
                color: white;
                border-radius: 20px; }
              .ui_shop .shop__cont .shop__info .menu_products .op_products ul li #carnebtn {
                background-color: #FF7192; }
            .ui_shop .shop__cont .shop__info .menu_products .op_products ul li:hover a {
              font-size: 21px;
              text-shadow: 2px 2px 4px #FF7192; }
        .ui_shop .shop__cont .shop__info .menu_products .selec_products {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 18px; }
          .ui_shop .shop__cont .shop__info .menu_products .selec_products .next {
            margin-bottom: 2%; }
            .ui_shop .shop__cont .shop__info .menu_products .selec_products .next span {
              color: darkgray; }
            .ui_shop .shop__cont .shop__info .menu_products .selec_products .next i {
              color: darkgray;
              margin-left: 5px;
              font-size: 16px; }
          .ui_shop .shop__cont .shop__info .menu_products .selec_products .cancel span {
            color: #FF7192;
            font-weight: 600; }
          .ui_shop .shop__cont .shop__info .menu_products .selec_products .cancel i {
            color: #FF7192;
            margin-left: 5px;
            font-size: 16px; }
          .ui_shop .shop__cont .shop__info .menu_products .selec_products .cancel:hover span {
            font-size: 19px; }
    .ui_shop .shop__cont .shop__table {
      width: 72.5%;
      height: 100%;
      border-bottom-right-radius: 30px;
      border-top-right-radius: 30px; }
      .ui_shop .shop__cont .shop__table .totalshop {
        width: 100%;
        height: 100%;
        display: none;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 0;
        background: #ee9ca7;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ffdde1, #ee9ca7);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px; }
      .ui_shop .shop__cont .shop__table #cont_frutas {
        display: none; }
      .ui_shop .shop__cont .shop__table #cont_granos {
        display: none; }
      .ui_shop .shop__cont .shop__table #cont_lacteos {
        display: none; }
      .ui_shop .shop__cont .shop__table #cont_limpieza {
        display: none; }
      .ui_shop .shop__cont .shop__table .cont__prod {
        width: 100%;
        height: 80%;
        margin: auto;
        margin-top: 6%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-end; }
        .ui_shop .shop__cont .shop__table .cont__prod .prod {
          width: 25%;
          height: 280px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 25px;
          padding: 5px 5px;
          box-shadow: -2px -2px 8px white, -2px -2px 12px rgba(255, 255, 255, 0.6), inset 2px 2px 4px white, 2px 2px 8px rgba(0, 0, 0, 0.3);
          margin-top: 20px;
          margin-left: 1.5%;
          margin-right: 1.5%; }
          .ui_shop .shop__cont .shop__table .cont__prod .prod img {
            margin: 2.5%;
            max-width: 100px !important;
            height: auto;
            max-height: 110px !important;
            border-radius: 15px; }
          .ui_shop .shop__cont .shop__table .cont__prod .prod .prod__title {
            text-align: center;
            color: #FF7192;
            font-size: 18px;
            font-weight: 600; }
          .ui_shop .shop__cont .shop__table .cont__prod .prod .prod__brand {
            color: #4B79A1; }
          .ui_shop .shop__cont .shop__table .cont__prod .prod .prod__number {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 4%;
            margin-bottom: 4%; }
            .ui_shop .shop__cont .shop__table .cont__prod .prod .prod__number input {
              width: 40px;
              font-size: 15px;
              margin-right: 10%;
              margin-left: 10%; }
            .ui_shop .shop__cont .shop__table .cont__prod .prod .prod__number a {
              padding-left: 10px;
              padding-right: 10px;
              font-size: 17px;
              font-weight: 500;
              background-color: rgba(255, 113, 146, 0.8);
              border-radius: 10px;
              color: white; }
          .ui_shop .shop__cont .shop__table .cont__prod .prod .prod__add {
            color: #4B79A1;
            border: 1px solid #4B79A1;
            border-radius: 20px;
            padding: 3px 20px;
            font-size: 14px;
            margin-bottom: 2%; }
            .ui_shop .shop__cont .shop__table .cont__prod .prod .prod__add i {
              margin-left: 5px;
              font-size: 13px; }
          .ui_shop .shop__cont .shop__table .cont__prod .prod .prod__add:hover {
            background-color: #4B79A1;
            color: white; }
          .ui_shop .shop__cont .shop__table .cont__prod .prod .prod__remove {
            display: none;
            color: #FF7192;
            border: 1px solid #FF7192;
            border-radius: 20px;
            padding: 3px 20px;
            font-size: 14px;
            margin-bottom: 2%; }
            .ui_shop .shop__cont .shop__table .cont__prod .prod .prod__remove i {
              margin-left: 5px;
              font-size: 13px; }
          .ui_shop .shop__cont .shop__table .cont__prod .prod .prod__remove:hover {
            background-color: #FF7192;
            color: white; }

.ui__turn {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0; }
  .ui__turn .turn__cont {
    height: 80%;
    width: 80%;
    background-color: #dde1e7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px; }
    .ui__turn .turn__cont .cont1 {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .ui__turn .turn__cont .cont1 .cont1__nav {
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FF7192;
        font-weight: bold;
        font-size: 25px;
        text-transform: uppercase;
        letter-spacing: 1.5px; }
      .ui__turn .turn__cont .cont1 .cont1__cont {
        width: 100%;
        height: 85%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start; }
        .ui__turn .turn__cont .cont1 .cont1__cont .cont__info {
          width: 55%;
          height: 92%;
          display: flex;
          justify-content: center;
          align-items: center; }
          .ui__turn .turn__cont .cont1 .cont1__cont .cont__info .contenedor {
            width: 90%;
            height: 95%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: initial;
            padding: 10px 30px;
            border-radius: 40px;
            box-shadow: -2px -2px 8px white, -2px -2px 12px rgba(255, 255, 255, 0.6), inset 2px 2px 4px rgba(255, 255, 255, 0.2), 2px 2px 8px rgba(0, 0, 0, 0.15); }
            .ui__turn .turn__cont .cont1 .cont1__cont .cont__info .contenedor p {
              width: 80%;
              color: #4B79A1;
              font-size: 15px;
              text-align: center;
              margin-top: 1%;
              margin-bottom: 1%; }
              .ui__turn .turn__cont .cont1 .cont1__cont .cont__info .contenedor p span {
                color: #4B79A1;
                font-weight: 600;
                font-size: 17px; }
            .ui__turn .turn__cont .cont1 .cont1__cont .cont__info .contenedor img {
              width: 60%;
              height: auto;
              margin-top: 5%;
              margin-bottom: 5%; }
        .ui__turn .turn__cont .cont1 .cont1__cont .cont__actions {
          width: 60%;
          height: 92%;
          display: flex;
          justify-content: center;
          align-items: center; }

/*# sourceMappingURL=style.css.map */
