.neu {
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    color: white;
    font-size: 18px;
    border-radius: 40px;
    background-color: rgba($pink1, $alpha: 0.7);
    box-shadow: -2px -2px 8px rgba(#cee5f5, 1), -2px -2px 12px rgba(255, 255, 255, 0.4), inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.neu:hover {
    background-color: rgba($blue2, 0.5);
}

.neu2 {
    padding: 12.5px 12.5px;
    margin-top: 25px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
    font-size: 20px;
    border-radius: 40px;
    box-shadow: -2px -2px 8px rgba(#cee5f5, 1), -2px -2px 12px rgba(255, 255, 255, 0.4), inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
    transition: 0.4s;
}

.neu2:hover {
    padding: 13px 13px;
    font-size: 25px;
}

.neu3 {
    padding: 10px 30px;
    margin-top: 40px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    color: $blue2;
    font-size: 18px;
    border-radius: 40px;
    box-shadow: -2px -2px 8px rgba(#ebadbc, 1), -2px -2px 12px rgba(245, 206, 206, 0.6), inset 2px 2px 4px rgba(255, 255, 255, 0.3), 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.neu3:hover {
    background-color: rgba(white, $alpha: 0.15);
}

.neub {
    font-weight: 500;
    border-radius: 20px;
    color: $blue2;
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 40px;
    margin-left: 10px;
    padding: 10px 30px;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1), -2px -2px 12px rgba(255, 255, 255, 0.6), inset 2px 2px 4px rgba(255, 255, 255, 0.2), 2px 2px 8px rgba(0, 0, 0, 0.15);
    transition: background-color .3s ease-in;
}

.neub:hover {
    color: rgba($pink1, $alpha: 0.6);
}