:root {
    --illustration_p_size: 22px;
    --form_title_size: 40px;
    --form_label_size: 17px;
    --form_input_size: 15px;
    --form_submit_size: 20px;
    /*-----------------*/
}

.contact {
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: flex;
    .contact__illustration {
        width: 50%;
        background-color: $blue1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            margin-top: 5%;
            color: white;
            text-align: center;
            font-size: var(--illustration_p_size);
            font-weight: 500;
            line-height: 35px;
            letter-spacing: 2px;
            padding: 0 7%;
        }
        img {
            width: 85%;
            height: auto;
        }
    }
    .contact__form {
        width: 50%;
        padding: 3% 8%;
        background-color: $blue2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2 {
            color: white;
            font-weight: 400;
            font-size: var(--form_title_size);
            letter-spacing: 15px;
            margin-bottom: 8%;
            align-self: center;
        }
        form {
            display: flex;
            flex-direction: column;
            label {
                color: white;
                margin-bottom: 8px;
                font-size: var(--form_label_size);
            }
            textarea,
            input[type="text"] {
                width: 100%;
                padding: 8px 0px 5px 20px;
                margin-bottom: 15px;
                border: none;
                border-radius: 10px;
                color: white;
                font-size: var(--form_input_size);
                font-weight: 400;
                background-color: rgba(white, 0.3);
            }
            input[type="text"]:focus {
                background-color: rgba($green, $alpha: 0.6);
            }
            textarea:focus {
                background-color: rgba($green, $alpha: 0.6);
            }
            input::-webkit-input-placeholder {
                color: rgba(255, 255, 255, 0.68);
            }
            textarea {
                max-width: 100%;
                max-height: 100px;
                min-width: 100%;
            }
            input[type="submit"] {
                background-color: inherit;
                font-weight: 500;
                font-size: var(--form_submit_size);
                align-self: center;
                border: 1.1px solid;
                border-radius: 20px;
                color: white;
                border-color: white;
                letter-spacing: 3px;
                margin: 10px auto;
                padding: 10px;
                transition: background-color .3s ease-in;
            }
            input[type="submit"]:hover {
                background-color: rgba($green, $alpha: 0.8);
            }
        }
    }
}

.modal_wrap {
    width: 100%;
    height: 100vh;
    background: rgba(black, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    .mesaje_modal {
        background-color: white;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
        width: 250px;
        height: auto;
        padding: 20px 20px 15px;
        display: flex;
        flex-direction: column;
        .cont_modal {
            display: flex;
            margin-left: 15px;
            p {
                margin-left: 10px;
                font-size: 16px;
            }
            i {
                font-size: 18px;
                color: #b07aba;
            }
        }
        #btnClose {
            align-self: center;
            margin-top: 25px;
            width: 100px;
            border: 1.5px solid #b07aba;
            padding: 5px 20px;
            border-radius: 15px;
            text-align: center;
            color: #b07aba;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
        }
        #btnClose:hover {
            background-color: #b07aba;
            color: white;
        }
    }
}