:root {
    --logo_span_size: 27px;
    --sections_a_size: 15px;
    --sections_span_size: 17px;
    --data_icon_size: 20px;
    --data_txt_size: 14px;
    --data_c_size: 12px;
    --nets_span_size: 18px;
    --nets_icon_size: 25px;
    /*-----------------*/
    --logo_img-width: 35px;
}

footer {
    background-color: rgba($white1, $alpha: 0.85);
    padding: 10px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    .footer__logo {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: 2px solid white;
        .logo1{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 10px;
            border-bottom: 1.5px solid white;
            img {
                width: var(--logo_img-width);
                height: auto;
            }
            span {
                font-weight: bolder;
                color: $blue2;
                margin-left: 12px;
                font-size: var(--logo_span_size);
            }
        }
        .logo2{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 8px;
            img {
                width: 25px;
                height: auto;
            }
            span {
                font-weight: bolder;
                color: #7697a0;;
                margin-left: 5px;
                font-size: 17px;
            }
        }

    }
    .footer__terms {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: 2px solid white;
        a{
            font-size: 13px;
            color: $blue2;
        }
        
    }
    .footer__datas {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: 2px solid white;
        div {
            display: flex;
            .datas__icon {
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                i {
                    color: $pink1;
                    font-size: var(--data_icon_size);
                    margin-bottom: 10px;
                }
            }
            .datas__txt {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                margin-left: 10px;
                margin-bottom: 10px;
                span {
                    color: $blue2;
                    font-size: var(--data_txt_size);
                    margin-bottom: 10px;
                }
            }
        }
        span {
            color: black;
            font-size: var(--data_c_size);
        }
    }
    .footer__nets {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
            color: $blue2;
            font-size: var(--nets_span_size);
            margin-bottom: 13px;
        }
        div {
            a i {
                color: $pink1;
                font-size: var(--nets_icon_size);
                margin: 0 5px;
            }
        }
    }
}