    .turn {
        background-color: rgba($color: #EAEBF3, $alpha: 0.7);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        .turn__illus {
            width: 60%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                padding-left: 5%;
                width: 90%;
                height: auto;
            }
        }
        .turn__cont {
            width: 40%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding-left: 3%;
            h2 {
                color: rgba($pink1, $alpha: 0.8);
                font-size: 50px;
                font-weight: bolder;
            }
            span {
                color: $blue2;
                margin-top: 15px;
                margin-bottom: 10px;
                font-size: 16px;
            }
            .turn__list {
                ul li {
                    color: $blue2;
                    margin-bottom: 10px;
                    display: flex;
                    margin-left: 10px;
                    margin-top: 10px;
                    p {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    
    .shop {
        width: 100%;
        height: 100vh;
        background-color: rgba($pink3, $alpha: 1.0);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .shop__cont {
            width: 45%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2 {
                color: $blue2;
                font-size: 50px;
            }
            p {
                align-self: center;
                color: white;
            }
            ol li {
                color: white;
            }
        }
        .shop__illus {
            width: 55%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 80%;
                height: auto;
            }
        }
    }