:root {
    --port_title_size: 40px;
    --cont_li_size: 16px;
    /*-----------------*/
    --port_height: 190px;
    --cont_width: 370px;
    /*-----------------*/
    --port_title_spacing: 16.5px;
}

.services {
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    .services__port {
        width: 100%;
        height: var(--port_height);
        background-color: $blue2;
        .port__bg {
            width: 100%;
            height: var(--port_height);
            margin: 0px auto;
            background-image: url(../../../img/circuit3.jpg);
            background-size: cover;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: 10% 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            .port__title {
                color: white;
                font-size: var(--port_title_size);
                letter-spacing: var(--port_title_spacing);
            }
        }
    }
    .services__cont {
        width: 90%;
        margin: auto;
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .cont {
            width: var(--cont_width);
            background-color: #a5bec4;
            border-radius: 40px;
            padding: 35px 30px 40px 30px;
            margin-top: 20px;
            i {
                font-size: 30px;
                color: white;
                background-color: $blue1;
                display: inline-block;
                width: 60px;
                height: 60px;
                text-align: center;
                padding-top: 15px;
                border-radius: 50%;
                box-shadow: 0 8px 32px rgba($color: #000000, $alpha: .5);
            }
            h2 {
                color: $green;
                margin-top: 20px;
                margin-left: 10px;
            }
            ul {
                height: 65%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                li {
                    color: $blue1;
                    margin-top: 15px;
                    line-height: 20px;
                    margin-left: 20px;
                    margin-right: 20px;
                    font-size: var(--cont_li_size);
                }
            }
        }
        .cont:hover {
            box-shadow: 0 4px 10px rgba($color: #000000, $alpha: .5);
        }
    }
}